h1 {
  color: #a073b2;
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}


#title {
  color: #a073b2;
  position: relative;

}



.container-fluid {
  padding: 0% 15% 7% 15%;
}

.damz {
position: absolute;

}



/* navbar */
.navbar {
  padding-bottom: 2.5rem;
}

.navtog{
  background-color: #a037b2;
  border-style: none;
  border-radius: 20%;
  display: none;
}

.navbar-brand {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #a037b2;

}



.navlink1 {
  color: #a037b2;
  text-decoration: none;
  padding-right: 3.125rem;
  font-size: 1.2rem;
}

.navlink2 {
  color: #a037b2;
  text-decoration: none;
  padding-right: 3.125rem;
  font-size: 1.2rem
}

.navlink3 {
  color: #a037b2;
  text-decoration: none;
  padding-right: 1.25rem;
  font-size: 1.2rem
}

/* features */
#features {
  padding: 7% 15% 7% 15%;
  text-align: center;
  background-color: #a073b2;
  color: white;
  font-family: 'Montserrat-Black', sans-serif;
  position: relative;
  z-index: 1;
}

.feature-img {
  padding-bottom: 20px;
}

/* services */
#services {
  background-color: #a073b2;
  text-align: center;
}

/* pricing */
#pricing {
  padding: 100px;
  text-align: center;
  font-family: 'Montserrat-Black', sans-serif;
}

.pricing-column {
  padding: 3% 2% 3% 2%;
}

.h1-pricing{
  color: #a073b2;
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;

}

/* cta */
#cta {
  text-align: center;
  background-color: #a073b2;
  color: #ffffff;
  font-family: 'Montserrat-Black', sans-serif;
  padding: 30px 0px 10px 0;
}

.cta-button {
  margin-top: 25px;
}

.cta-button a {
  text-decoration: none;
  color: #a073b2;
}

.instagram {
  text-decoration: none;
  color: white;
}

.insta {
  padding-top: 40px;
}

.dfc{
  padding-top: 50px
}

@media (max-width: 1275px) {
  .damz {
  position: relative;
  top: 70px;
  width: 120%;
}


@media (max-width: 500px) {
.navtog{
  display: block;
}

@media (max-width: 500px) {
  #title {
    color: #a073b2;
    position: relative;
    text-align: center;
  

  }
